<div class="modal-body body-sec" style="padding: 1rem;">
    <div class="text-center">
        <img src="assets/images/error.svg" alt="" class="mb-4" width="85px">
        <div class="icon-box">
            <i class="material-icons"></i>
        </div>
    </div>
    <p class="text-center model-sh mb-4">Are you sure you want to cancel ? </p>
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-info mr-3" (click)="closeModal()">No</button>
        <button class="btn btn-danger" (click)="cancelUser()">yes</button>
        <button class="close" (click)="closeModal()">x
        </button>
    </div>
  </div>